@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  --primary: #bd93f9;
  --secondary: #ff79c6;
  --sb-track-color: #000009;
  --sb-thumb-color: #8be9fd;
  --sb-size: 3px;
}

.imagemBW {
  filter: grayscale(100%);
  /* Outras propriedades CSS, como largura e altura, podem ser definidas aqui */
}

.logo-img {
  /* filter: brightness(0) invert(1); */
}

.shape-outside-ellipse {
  shape-outside: ellipse();
}

.text-primary {
  color: var(--secondary);
}

.text-secondary {
  color: var(--secondary);
}

i {
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
